html, body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}
.textSubtle{
    color: darkgrey;
}

.divStandard{
    width: 100%;
    text-align: center;
}

.standardFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divWidth33percent{
    width: 33%;
    padding: 10px;
}

.buttonPadding{
    padding: 20px;
}

.justSomeSpace{
    padding-left: 20px;
}





.totalContainer{
    width: 100%;
    height: 100%;
    padding: 10px;
}
    .defaultTheme{
        background-color: lightgrey;    
    }
    .incrementalGameTheme{
        background-image: url(img/fireblackbg.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        background-position: bottom;
    }

.widget{
    height: 50%;
    display: flex;
    justify-content: center;
}

.innerWidget{
    margin: 20px;
    width: 80%;
    background-color: #ffffff;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

    .iconSize{
        width: 100%;
        color: lightgray;
    }


.frontTarot img{
    width: 110px;
}



.cartoonContainer{
    font-family: 'Yeon Sung', cursive;
}
.cartoonContainer img{
    width: 140px;
}


textarea{
    width: 90%;
    height: 160px;
    font-size: 1.4em;
    border: none;
}
.gaegu{
    font-family: 'Gaegu', cursive;    
}
.reeniebeanie{
    font-family: 'Reenie Beanie', cursive;   
}

/*
font-family: 'Reenie Beanie', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Rock Salt', cursive;
*/

/**** SETTINGS *****/

.settingsContainer{
    width: 80%;
    height: 80%;
    margin-left: 7.5%;
    margin-top: 3%;
    z-index: 97;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
    .settingsButton{
    width: 45px;
    height: 45px;
    font-size: 30px;
    z-index: 99;
    position: absolute;
    padding-left: 5px;
    }

    .settingsTitle{
        text-align: left;
        padding-left: 20px;
        background-color: lightgray;
    }

    .settingsTarotImg img{
        width: 100px;
    }
    .chooseHandwriting{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2em;
    }

    .popUpExit{
        text-align: right;
        padding-right: 40px;
    }

/***** TAROT VIEW ***/

    .tarotDarkBg{
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.9;
        position: absolute;
        z-index: 97;
        margin: 0px auto;
    }

    .tarotGameContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        z-index: 97;  
        margin: 0px auto;
    }

/*
    .tarotDeck{
        width: 20%;
        height: 100%;
        padding-top: 160px;
        padding-left: 80px;
        cursor: grab;
        color: lightgray;
    }
*/

    .tarotSpread{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarotSpreadSub{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .tarotSpreadSub img{
        height: 100%;
        cursor: grab;
    }

    .card1{
        width: 50%;
        height: 33%;
        justify-content: flex-end;
    }
    .card2{
        width: 50%;
        height: 33%;
        justify-content: flex-start;
    }
    .card3{
        width: 40%;
        height: 33%;
        justify-content: flex-end;
    }
    .card4{
        width: 20%;
        height: 33%;
        justify-content: center;
    }
    .card5{
        width: 40%;
        height: 33%;
        justify-content: flex-start;
    }
    .card6{
        width: 100%;
        height: 33%;
        justify-content: center;
    }

    .mobileMenu{
        display: none;
    }


/* seperate media query for displaying mobileMenu */
@media screen and (max-width: 575px) {
    .mobileMenu{
        display: block;
        position: fixed;
        z-index: 99;
        top:10;
        left:0;
        margin: 0px;
        padding: 0px;
        padding-top: 0px;
        width: 25px;
        font-size: 1em;
        text-align: center;
    }
}



@media screen and (max-width: 767px) {
/*@media screen and (max-width: 575px) {*/
    .row{
        height: 200%;
    }
    .widget{
        height: 100vh;
    }

    .innerWidget{
        width: 100%;
    }
    .iconSize{
        font-size: 6em;
        padding: 10px;
    }

    h1{
        font-size: 1.8em;
    }
    
    .textBig{
        font-size: 4em;    
    }
.textSubtle{
    font-size: 1em;    
}
.textMedium{
    font-size: 2em;    
}
textarea{
    width: 90%;
    height: 360px;
}
    
    .settingsButton{
        display: none;
    }
    
    .currentWeatherIcon img{
        width: 120px;
    }
    
}

/*@media screen and (min-width: 768px) {*/
@media screen and (min-width: 768px) and (max-width: 950px){
    .row{
/*        height: 300vh;*/
        height: 100%;
    }
    .iconSize{
        font-size: 2em;
        padding: 10px;
    }
.textBig{
    font-size: 2em;    
}
.textSubtle{
    font-size: 0.8em;    
}
.textMedium{
    font-size: 1.6em;    
}
    
    .currentWeatherIcon img{
        width: 50px;
    }
    

}

@media screen and (min-width: 801px) and (max-width: 1023px){
    .row{
/*        height: 300vh;*/
        height: 100%;
    }
    .iconSize{
        font-size: 2em;
        padding: 10px;
        border: 1px solid red;
    }
.textBig{
    font-size: 2em;    
}
.textSubtle{
    font-size: 0.8em;    
}
.textMedium{
    font-size: 1.6em;    
}
    
    .currentWeatherIcon img{
        width: 50px;
    }
    
    
}

/*@media screen and (min-width: 1024px) {*/
@media screen and (min-width: 1024px) {
    
.totalContainer{
    padding-left: 100px;
    padding-right: 100px;
}
    
    .row{
        height: 100vh;
    }
    .iconSize{
        font-size: 3em;
        padding: 0px;
        height: 60px;
    }
    
.textBig{
    font-size: 2em;    
}
.textSubtle{
    font-size: 0.8em;    
}
.textMedium{
    font-size: 1.4em;    
}
    
    
    .currentWeatherIcon img{
        width: 50px;
    }
    
    .mobileMenu{
        display: none;
    }
}

